* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea::placeholder {
    color: rebeccapurple;
    line-height: 50vh;
    text-align: center;
}

.input {
    color: rgb(255, 0, 85);
}

.result {
    color: rgb(31, 209, 120);
}

section {
    display: flex;
}

.formControl {
    display: flex;
    margin: 20px;
}

.formControl textarea {
    font-size: 28px;
}

.formControl button {
    height: 80px;
    font-size: 29px;
}

textarea,
button {
    padding: 5px;
}

button {
    background-color: #fdfdfd;
    border: #fff;
    box-shadow: 4px 4px 20px 1px #dad5d591;
    outline: none;
    color: #9ba69bc4;
}

button:hover {
    color: green;
}

button:focus {
    color: green;
}

button:active {
    color: red;
    box-shadow: inset 4px 4px 20px 1px #dad5d591, 4px 4px 20px 1px #dad5d591;
}

.btnSection {
    display: block;
    text-align: center;
}

.firCon {
    display: block;
    text-align: center;
}

.btns,
.conDiv {
    margin: 10px;
}

#mainConDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.conDiv input {
    font-size: 20px;
    width: 50px;
    text-align: center;
}

textarea {
    border: none;
    outline: none;
    box-shadow: inset 4px 4px 20px 1px #dad5d591, 4px 4px 20px 1px #dad5d591;
}

@media only screen and (max-width: 600px) {
    section {
        display: block;
    }
    .btnSection {
        display: flex;
    }
    textarea {
        width: 100%;
    }
}